<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionAndAnswerDAO" class="ru.otus.homework.dao.QuestionAndAnswerDAOImpl">
        <constructor-arg name="pathToCSV" value="QuestionsAndAnswers.csv"/>
    </bean>

    <bean id="inputOutputService" class="ru.otus.homework.service.InputOutputServiceImpl">
    </bean>

    <bean id="personService" class="ru.otus.homework.service.PersonServiceImpl">
        <constructor-arg name="ioService" ref="inputOutputService"/>
    </bean>

    <bean id="questionAndAnswerService" class="ru.otus.homework.service.QuestionAndAnswerServiceImpl">
        <constructor-arg name="dao" ref="questionAndAnswerDAO"/>
        <constructor-arg name="ioService" ref="inputOutputService"/>
        <constructor-arg name="personService" ref="personService"/>
    </bean>
</beans>