<!DOCTYPE html>
<head>
    <meta charset="UTF-8"/>
    <title>List of all book club</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .authors, .authors td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<h1>Book clubs:</h1>

<table class="authors">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Main theme</th>
        <th>Admin</th>
        <th>Participant list</th>
        <th>Join/Leave</th>
        <th>Meetings</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script>
    $(function () {
        $.get('api/v1/book-club').done(function (bookClubs) {
            bookClubs.forEach(function (bookClub) {
                $('tbody').append(`
                    <tr>
                        <td>${bookClub.id}</td>
                        <td>${bookClub.name}</td>
                        <td>${bookClub.mainTheme}</td>
                        <td>${bookClub.admin.login}</td>
                        <td><a href="/bookClub/list/">List</a></td>
                        <td><a href="/bookClub/join/">Join/Leave</a></td>
                        <td><a href="/bookClub/${bookClub.id}/meetings/list/">Meetings</a></td>
                        <td>
                        <input type="button" id="delete-bookclub-${bookClub.id}" value="Delete" onclick="
                            const arrayOfStrings = this.id.split('-');
                            const bookClubId = arrayOfStrings[arrayOfStrings.length - 1];
                            const url = 'api/v1/book-club/' + bookClubId;

                            $.ajax({
                                url: url,
                                type: 'DELETE',
                                success: function() {
                                    window.location.assign('/');
                                },
                                error: function(jqXHR, exception) {
                                    let msg = '';
                                    if (jqXHR.status === 403) {
                                        msg = 'Вам запрещено выполение этого действия!';
                                    } else {
                                        msg = jqXHR.responseJSON.message;
                                    }
                                    alert(msg);
                                },
                            });">
                        </td>
                    </tr>
                `);
            });
        })
    });
</script>

</body>
</html>
