<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title> Author's list of books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books, .books td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
</head>
<body>
<h2 th:text="${author.name}">Author authorName</h2>
<h2>Books:</h2>

<table class="books">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}">1</td>
        <td th:text="${book.title}">Some title</td>
        <td th:text="${book.author.name}">John Doe</td>
        <td th:text="${book.genre.name}">Genre</td>
        <td>
            <a th:href="@{/book/edit/__${book.id}__}" href="/book/edit.html">Edit</a>
        </td>
        <td>
            <form id="delete-button" th:action="@{/book/delete/__${book.id}__}" th:method="post">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    </tbody>
</table>

<form id="add-book-form" th:action="@{/book/add}" th:method="post" action="/book/add.html">
    <h1>Add book:</h1>
    <div class="row">
        <label for="title-input">Title:</label>
        <input id="title-input" name="title" type="text" th:value="${title}" value="New title"/>
    </div>

    <div class="row">
        <label for="genreId">Genre:</label>
        <select id="genreId" name="genreId">
            <option th:each="genre : ${genres}"
                    th:value="${genre.id}"
                    th:text="${genre.name}">Poem</option>
        </select>
    </div>

    <div class="row">
        <input type="hidden" th:value="${author.id}" name="authorId" />
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>
</body>
</html>
