<!DOCTYPE html>
<head>
    <meta charset="UTF-8"/>
    <title>Edit author</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
    <script src="../../webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<h1>Author Info:</h1>
<div class="row">
    <label for="id-input">ID:</label>
    <input id="id-input" type="text" name="authorId" readonly="readonly"/>
</div>
<div class="row">
    <label for="name-input">Name:</label>
    <input id="name-input" name="authorName" type="text"/>
</div>
<div class="row">
    <input type="button" value="Save" id="submitButton">
</div>

<script>
    $(function () {
        let pathname = window.location.pathname;
         const arrayOfStrings = pathname.split("/");
         const authorId = arrayOfStrings[arrayOfStrings.length - 1];
         $.get('/authors/' + authorId).done(function (author) {
             $("#id-input").val(author.id);
             $("#name-input").val(author.name);
         })
    });
</script>

<script>
    submitButton.onclick = function() {
        const url = "/authors/";
        const authorId = $("#id-input").val();
        const name   = $("#name-input").val();

        $.ajax({
            url: url + authorId,
            type: 'PUT',
            data: {name},
            success: function() {
                window.location.assign("/");
            }
        });
    };
</script>
</body>
</html>
